/*STYLE.CSS*/
.rainbow {
  color: #ffffff;
  animation-name: colors;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

.spin {
  animation-name: rotate;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.fade-in {
		animation-name: fade-in;
		animation-duration: 4s;
}

.nav-bar-unselected {
		color: #5db1de;
}

.arial-font {
		font-family: arial;
		color: #ffffff;
}

.advert {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 25px;
}

.circle {
						height: 75px;
						width: 75px;
						border-radius: 50%;
}

.grab {
						cursor: grab;
}

.border {
						border: solid;
						background: white;
						height: 200px;
						border-radius: 10%;
}

.no-contact {
						font-weight: bold;
		    color: black;
		    font-size: 30px;
}

.background-rpc {
						background-color: #606060;
}

.white {
						color: #ffffff;
}

.black {
						color: #000000;
}

.yellow {
						color: #ffd215;
}

.red {
						color: #ff2a4a;
}

.blue {
						color: #408cff;
}

.blurple {
						color: #6666ff;
}

.green {
						color: #51ff2a;
}

.cyan {
						color: #00e1ff;
}

.outline {
						outline: #8098ff;
}

.box { 
      perspective: 120px; 
} 

.coin { 
      width: 2em; 
      height: 2em; 
      border-radius: 100%; 
      border: 4px solid #00e1ff; 
      animation: spin 1s ease-in-out infinite; 
} 

.giant {
						font-size: 300px;
}

.banner {
						width: 370px;
						height: 130px;
						position: auto;
}

.pfp-overlay {
  background: url(pfp.jpg);
}

@keyframes spin { 
  to { transform: rotateY(540deg); } 
}

@keyframes colors {
  0% {color: #ff1569;}
  5% {color: #d9ff6a;}
  10% {color: #6655ff;}
  15% {color: #6affb6;}
  20% {color: #f855ff;}
  25% {color: #ff1569;}
  30% {color: #d9ff6a;}
  35% {color: #6655ff;}
  40% {color: #6affb6;}
  45% {color: #f855ff;}
  50% {color: #ff1569;}
  55% {color: #d9ff6a;}
  60% {color: #6655ff;}
  65% {color: #6affb6;}
  70% {color: #f855ff;}
  75% {color: #ff1569;}
  80% {color: #d9ff6a;}
  85% {color: #6655ff;}
  90% {color: #6affb6;}
  95% {color: #f855ff;}    
  100% {color: #ffffff;}
}

@keyframes rotate {
  0% {transform: rotate(20deg);}
  1% {transform: rotate(40deg);}
  2% {transform: rotate(60deg);}
  3% {transform: rotate(80deg);}
  4% {transform: rotate(100deg);}
  5% {transform: rotate(120deg);}
  6% {transform: rotate(140deg);}
  7% {transform: rotate(160deg);}
  8% {transform: rotate(180deg);}
  9% {transform: rotate(200deg);}
  10% {transform: rotate(220deg);}
  11% {transform: rotate(240deg);}
  12% {transform: rotate(260deg);}
  13% {transform: rotate(280deg);}
  14% {transform: rotate(300deg);}
  15% {transform: rotate(320deg);}
  16% {transform: rotate(340deg);}
  17% {transform: rotate(360deg);}
}

@keyframes fade-in {
		0% {opacity: 0;}
		100% {opacity: 100;}
}

h3 { 
      text-align: center;
      font-family: georgia;
}

img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5%;
}

p {
      text-align: center;
      color: #ffffff;
      font-family: courier;
      font-weight: bold;
      font-size: 25px;
}

body {
      background-image: linear-gradient(330deg, #000000 20%, #00e1ff 50%, #000000 20%);
    		animation-name: fade-in;
	    	animation-duration: 5s;
}

h2 {
						color: #aadfff;
						text-align: center;
						font-size: 30p;
}

legend {
						color: #ffffff;
						text-align: center;
						font-size: 20px;
}

fieldset {
						background: #000000;
						border-color: #8098ff;
						width: 350px;
						margin: auto;
						border-radius: 0%;
}

summary {
						color: #ffffff;
						text-align: center;
						font-family: georgia;
}

hr {
						width: 350px;
						margin: auto;
}

div {
						margin: auto;
						color: #ffffff;
						text-align: center;
}

h1 {
      text-align: center;
      font-family: verdana;
      color: #00e1ff;
}

h1:hover {
      text-shadow: 
    0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
}

button {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  padding: 0.5em 1em  ;
  outline: none;
  border: none;
  background-color: #000000;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  margin: auto;
  border-radius: 10%;
  display: inline-block; 
  margin: 0 auto;
  text-align: center;
  position: center;
  top: 50%;
}

button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #47ff40;
  transform-origin: center;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

button:hover {
  cursor: pointer;
  color: #161616;
}

button:hover::before {
  transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

iframe {
						border-radius: 3%; 
						max-width:100%; 
						max-height:900vh;
						background: #ffffff;
}

canvas {
						padding: 0; 
						margin: auto; 
						display: block;
						border: solid;
						border-color: white;
}
