:root {
  color-scheme: dark;
  --cyan: #00e1ff;
  --yellow: #ffd700;
  --green: #5dfd5d;
}

body {
  background-color: #041020;
  font-family: 'Raleway', sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 50em;
}

div.container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
div#c1 {
  height: 90vh;
  background: url(images/bg1.jpg);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}
div#c2 { 
  background: url(images/bg2.jpg);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}
div#c3 {
  height: 97vh;
  background: url(images/bg3.jpg);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}
div#c4 {
  background: url(images/bg4.jpg);
  background-size: cover; 
  background-position: center;  
  background-repeat: no-repeat;
}
div.scroll {
  animation: fadeIn 2.5s ease-in-out forwards;
}

img {
  border-radius: 50%;
  width: 5.5em;
  height: 5.5em;
  background-color: #393939;
}
img:hover { animation: spin 1.5s ease-in-out; }

h1, h2, h3, p { font-weight: bold; }

h3 { text-align: center; color: var(--green); font-size: 1.7em;}
h1 { color: var(--cyan); margin: 10px; }
p { margin: 10px; font-size: 1.5em; }
p#stats { background-color: #000000; font-weight: 600; padding: 10px; }
p#secret {
  position: fixed;
  font-size: 1em;
  top: 1.5em;
  left: 1.5em;
  color: #000;
  font-weight: 700;
  background-color: #000;
}
p#secret::selection {
  background: var(--cyan);
  color: #000;
}
p.border { 
  color: #000;
  text-shadow: 0 0 10px #fff;
}
span#pwa {
  color: #000;
  text-decoration: underline;
}
span#pwa::selection {
  color: lightskyblue;
}
span#pwa:hover {
  animation: none;
  font-size: 1em;
}

span { color: var(--green); font-weight: bolder; }
span:hover { animation: smallToBig 1s ease-in-out; font-size: 2em; }

button {
  border: none;
  border-radius: 5px;
  background-color: #cdcdcd;
  color: #000000;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
button:hover { 
  background-color: #7e7e7e; 
  animation: buttonHover 0.5s ease-in-out;
  transform: translateY(-10px);
}

button#share {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: var(--green);
}
button#share:hover { background-color: #6bf172; }
button#share::before { content: ""; }

button::before { content: "➤ "; color: white; }
button:hover:before { color: #dcdcdc; }
button#discord { background-color: #7d4fe7; }
button#discord:hover { background-color: #8468c5; }
button#github { background-color: #5c5c5c; }
button#github:hover { background-color: #717171; }
button#twitter { background-color: var(--cyan); }
button#twitter:hover { background-color: #6beff1; }
button#email { background-color: var(--yellow); }
button#email:hover { background-color: #f9ff86; }

progress {
  color: var(--cyan);
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
}
progress::-webkit-progress-bar {
  border: solid #000000 3px;
  color: var(--cyan);
  background-color: #ffffff;
  border-radius: 0 7px 0 7px;
}
progress::-webkit-progress-value {
  border-radius: 0 0 0 7px;
  background-color: var(--cyan);
}

::-webkit-scrollbar { width: 15px; }
::-webkit-scrollbar-track {
  background: #303030;
  border: 2px solid var(--green);
}
::-webkit-scrollbar-thumb {
  background: #404040;
  border: 3px solid #ffffff;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { background: #555; }

@keyframes fadeIn {
  from { 
    opacity: 0; 
    transform: translateY(10px);
  }
  to { 
    opacity: 1; 
    transform: translateY(0px);
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes smallToBig {
  from { font-size: 1em; }
  to { font-size: 2em; }
}

@keyframes buttonHover {
  from { transform: translateY(0); }
  to { transform: translateY(-10px); }
}

@media screen and (max-width: 580px) {
  p#stats { text-align: center; }
  div.info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
